@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@custom-variant dark (&:is([data-theme="dark"] *));

/* custom css variables using tailwind direction of '@theme' */
@theme inline {
  --color-green: hsl(155deg, 100%, 43%);
  --color-white: hsl(0deg, 0%, 100%);
  --color-gray: hsl(155deg, 100%, 43%);
  --color-soft-blue: hsl(213deg, 87%, 34%);
  --color-soft-green: hsl(146deg, 24%, 49%);
  --color-dark-color: hsl(231deg, 84%, 5%);
  --color-footer: hsl(240deg, 6%, 3%);
  --color-background: hsl(221deg, 36%, 9%);
}
/* custom utitilites for reusing it  */
@utility shadom-1x {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

:root {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  /* colors */
  --ifm-color-primary: #0b73ea;
  --ifm-color-primary-dark: #0a67d3;
  --ifm-color-primary-darker: #0962c7;
  --ifm-color-primary-darkest: #0850a4;
  --ifm-color-primary-light: #197ff4;
  --ifm-color-primary-lighter: #2586f5;
  --ifm-color-primary-lightest: #4899f6;
  --ifm-background-color: #f9f7f7;

  /* font size */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #f7f1f1;
}

[data-theme="dark"] {
  --ifm-background-color: var(--color-dark-color) !important ;

  --ifm-color-primary: #5085c1;
  --ifm-color-primary-dark: #4077b5;
  --ifm-color-primary-darker: #3d71ab;
  --ifm-color-primary-darkest: #325d8d;
  --ifm-color-primary-light: #6493c8;
  --ifm-color-primary-lighter: #6e9acc;
  --ifm-color-primary-lightest: #8cafd6;

  --docusaurus-highlighted-code-line-bg: var(--color-footer);
}

/* overidding the docusaours css styles to align with us */
.footer {
  background-color: var(--color-footer);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer__links {
  padding-bottom: 10px;
}

.footer__copyright {
  font-size: 0.9rem;
  color: var(--color-gray-400);
  font-style: italic;
}

.footer__item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar {
  background-color: white;
}

[data-theme="dark"] .navbar {
  background: linear-gradient(
    to bottom,
    var(--color-footer) 99%,
    var(--color-indigo-900) 1%
  );
}

svg {
  display: inline-flex;
}

.navbar-sidebar {
  background-color: var(--color-background);
}

#code-block {
  margin: 0 !important;
  background-color: #161616 !important;
  border-radius: unset !important;
}

p {
  font-size: 1.3rem;
}

/* custimizing  the colors of adominations -info, success, warn, and so on */
.alert--success {
  background-color: whitesmoke;
}
[data-theme="dark"] .alert--success {
  background-color: var(--color-slate-900);
}

.alert--info {
  background-color: var(--color-slate-200);
}
[data-theme="dark"] .alert--info {
  background-color: var(--color-green-900);
}
