@import "tailwindcss";

@custom-variant dark (&:is([data-theme="dark"] *));

:root {
  --ifm-color-primary: #00db80;
  --ifm-color-primary-dark: #00c573;
  --ifm-color-primary-darker: #00ba6d;
  --ifm-color-primary-darkest: #00995a;
  --ifm-color-primary-light: #00f18d;
  --ifm-color-primary-lighter: #00fc93;
  --ifm-color-primary-lightest: #1effa1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: var(--color-gray-200);
}

[data-theme="dark"] {
  --ifm-color-primary: #00db80;
  --ifm-color-primary-dark: #00c573;
  --ifm-color-primary-darker: #00ba6d;
  --ifm-color-primary-darkest: #00995a;
  --ifm-color-primary-light: #00f18d;
  --ifm-color-primary-lighter: #00fc93;
  --ifm-color-primary-lightest: #1effa1;
  --ifm-background-color: var(--color-dark-color) !important ;
  --docusaurus-highlighted-code-line-bg: var(--color-footer);
}

.footer {
  background-color: var(--color-footer);
}

.footer__links {
  padding-bottom: 10px;
}

.footer__copyright {
  font-size: 1.2rem;
  color: var(--color-gray-400);
  font-style: italic;
}

.footer__item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar {
  background-color: white;
}

[data-theme="dark"] .navbar {
  background: linear-gradient(
    to bottom,
    var(--color-footer) 99%,
    var(--color-indigo-900) 1%
  );
}

.navbar__link {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
@theme inline {
  --color-green: #00db80;
  --color-white: hsl(0deg, 0%, 100%);
  --color-gray: #00db80;
  --color-soft-blue: #0b4ea0;
  --color-soft-green: hsl(146deg, 24%, 49%);
  --color-dark-color: #020517;
  --color-footer: #080809;
}

.header-github-link {
  display: inline-flex !important;
  align-items: center !important;
  gap: 0.5em !important;
}
.header-github-link svg {
  display: inline-block !important;
  vertical-align: middle !important;
}
